/* 
 Aaron
 Lab 20
 September 12, 2025
*/
@charset "utf-8";

/* html {
  background-color: rgb(26, 20, 20);
} */

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: black;
  color: crimson;
}

h1 {
  text-align: center;
  font-size: 7vh;
  text-decoration: underline;
  text-shadow:
  1px 1px 2px red,
  0 0 1em red,
  0 0 0.2em red;
}

p {
  font-size: 3vh;
  line-height: 1.5;
  text-indent: 3rem;
}

/* span {
  font-size: larger;
  border: 1vh dashed maroon;
  padding: 0 1%;
} */

footer p {
  text-indent: 0;
}
