/* 
 Aaron
 Lab 19
 September 10, 2025
*/
@charset "utf-8";

html {
    background-color: darkblue;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: green;
  color: black;
}

h1 {
  text-align: center;
  font-size: 7vh;
  text-decoration: underline;
}

p {
  font-size: 3vh;
  line-height: 1.5;
  text-indent: 3rem;
}

span {
    font-size: larger;
    border: 1vh dashed green;
    padding: 0 1%;
}

footer p {
    text-indent: 0;
}
