/* 
 Aaron
 Lab 14
 August 25, 2025
*/
@charset "utf-8";

body {
  width: 80%;
  margin: auto;
}

h1 {
  margin: 5% auto 3% 5%;
  font-size: 4rem;
}

nav ul {
  display: flex;
  justify-content: space-around;
}

nav ul li a {
  display: block;
  margin: 1.2vw;
  padding: 1.2vw;
}

form,
fieldset {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "leftLeg rightLeg"
    "leftCol rightCol"
    "buttons buttons";
  justify-content: center;
  align-items: center;
  font-weight: bold;
  margin: auto;
  height: 100%;
  width: 100%;
}

legend {
  grid-area: legend;
  padding: 1%;
}

#leftLeg {
  grid-area: leftLeg;
}

#rightLeg {
  grid-area: rightLeg;
}

#leftCol {
  grid-area: leftCol;
}

#rightCol {
  grid-area: rightCol;
}

label {
  text-align: left;
  justify-content: left;
  line-height: 1.5;
  width: auto;
}

textarea {
  min-width: 20vw;
  max-width: inherit;
  min-height: 20vh;
  max-height: inherit;
}

#buttons {
  grid-area: buttons;
}
