/* 
 Aaron
 Lab 12
 August 17, 2025
*/
@charset "utf-8";

/* body {
    font-family: ;
} */

header,
nav ul li a,
h1,
#side2 {
  text-align: center;
}

#intro h1,
#main h1,
aside h1 {
  font-size: 4vh;
}

header {
  background-color: #5dccff;
  border: 1px dashed black;
  font-size: 6vh;
}

nav ul li {
  background-color: #f9c535;
  border: 1px dashed black;
}

nav ul li a {
  color: black;
  border: 1px dashed black;
}

#intro,
#main {
  background-color: #e3e374;
  border: 1px dashed black;
}

#side1,
#side2 {
  background-color: #ffffbd;
  border: 1px dashed black;
}

#footer1,
#footer2,
#footer3 {
  background-color: #8755e0;
  color: white;
  border: 1px dashed #ffe168;
}
