/* 
 Aaron
 Lab 16
 September 2, 2025
*/
@charset "utf-8";

/* Universal */
body {
  min-width: 400px;
  min-height: 200px;
  width: 80%;
  margin: auto;
}

/* Header and nav */
h1 {
  margin: 3vh auto 5vh auto;
}

/* Footer */
footer {
  margin-top: 5vh;
}

/* Main */
#calculator {
  display: grid;
  grid-template-areas: 1fr;
  gap: 5%;
  justify-items: center;
}

#instructions {
  margin-bottom: 1%;
}

input {
  padding: 1%;
}

button {
  min-width: fit-content;
  width: 15vw;
  padding: 1%;
}