/* 
 Aaron
 Lab 9
 August 11, 2025
*/
@charset "utf-8";
/* body {
  width: 80%;
  min-width: 780px;
  max-width: 1200px;
  margin: auto;
} */

/* Flexy stuff */
/* Navs */
#header-nav ul {
  display: flex;
  justify-content: space-evenly;
  padding: 5% 0;
}

#header-nav a {
  display: block;
  padding: 20px;
}

/* #header-nav ul li {
    
} */

#footer-nav ul {
  display: flex;
  justify-content: space-evenly;
}

/* Other */
h1 {
  padding: 5% 0;
}

#most-popular-games {
  display: flex;
}

.mp-game {
  width: 30%;
  margin: 1%;
}

.mp-game > h3 {
  padding: 5%;
}

.mp-game > p {
  padding: 3%;
}

/* Images */
img {
  width: 100%;
}

.image-container {
  width: fit-content;
}
