/* 
 Aaron
 Lab 15
 August 27, 2025
*/
@charset "utf-8";

/* 
+++
login.html
+++
*/
form {
  background-color: #efdfca;
  margin-top: 5%;
}

fieldset {
  border: none;
}

#userCredentials {
  display: grid;
  /* grid-template-columns: 1fr; */
  /* grid-template-areas:
    "legend"
    "username"
    "password"
    "submit"; */
  justify-content: center;
  justify-items: center;
  gap: 23%;
}

legend {
  color: white;
  background-color: #d9a96a;
  border-radius: 10px;
  width: 98%;
  height: 4.7vh;
  justify-self: left;
  align-content: center;
  margin: auto;
  padding-left: 1%;
}

#leg1 {
  margin-bottom: 5vh;
}

#usernameDiv {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto;
  min-width: 27vw;
}

#passwordDiv {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto;
  min-width: 27vw;
}

.submit input {
  min-width: 150px;
  min-height: 30px;
  border-radius: 10px;
}

/* 
+++
payment.html
+++
*/
/* USER INFORMATION */
#userInformation {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    "leg2 leg2 leg2"
    "fname1 fname2 ."
    "lname1 lname2 ."
    "birthdate1 birthdate2 ."
    "phone1 phone2 .";
}

#leg2 {
  grid-area: leg2;
}

#fname1 {
  grid-area: fname1;
}

#fname2 {
  grid-area: fname2;
}

#lname1 {
  grid-area: lname1;
}

#lname2 {
  grid-area: lname2;
}

#birthdate1 {
  grid-area: birthdate1;
}

#birthdate2 {
  grid-area: birthdate2;
}

#phone1 {
  grid-area: phone1;
}

#phone2 {
  grid-area: phone2;
}

#fname1,
#lname1,
#birthdate1,
#phone1 {
  text-align: right;
}

#fname1,
#lname1,
#birthdate1,
#phone1,
#fname2,
#lname2,
#birthdate2,
#phone2 {
  margin-top: 5%;
  margin-bottom: 5%;
}

/* BILLING INFORMATION */
#billingInformation {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "creditCard"
    "cardNumber"
    "cardExpiry"
    "cvv"
    "next";
  justify-content: center;
  justify-items: center;
  /* gap: 23%; */
}

#leg2 {
  margin-bottom: 3vh;
}

#leg3 {
  margin-top: 3vh;
  margin-bottom: 5vh;
}

/* Visa or Mastercard */
#creditCard {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
  width: fit-content;
  margin: auto;
  grid-area: creditCard;
}

#visa1,
#visa2,
#mastercard1,
#mastercard2 {
  width: fit-content;
  display: grid;
  align-content: end;
}

#visa2,
#mastercard2 {
  padding-left: 1.5vw;
}

#cardExpiry2 {
  background-color: white;
}

/* Credit Card Number */
#cardNumber {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-area: cardNumber;
  /* margin-top: -4%; */
}

#cardNumber1 {
  text-align: right;
}

/* Expiry Date */
/* 11 columns */
#cardExpiry {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  grid-template-areas: ". . expiry1 expiry1 expiry2 expiry2 . expiry3 expiry3 . .";
  grid-area: cardExpiry;
}

/* 5 columns */
/* #cardExpiry {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-areas: ". expiry1 expiry2 expiry3 .";
} */

#cardExpiry1 {
  grid-area: expiry1;
  margin-left: -2.1vw;
}

#cardExpiry2 {
  grid-area: expiry2;
  margin-left: -1.55vw;
}

#cardExpiry3 {
  grid-area: expiry3;
}

/* CVV */
#cvv {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-area: cvv;
}

#cvv1 {
  text-align: right;
  /* margin-bottom: -20%; */
}

/* Next */
#next {
  margin: auto;
  grid-area: next;
  /* margin-top: -5vh; */
}

/* Misc. */
label {
  padding-right: 8%;
}

#cardNumber,
#cardExpiry,
#cvv {
  padding: 2%;
}
