/* 
 Aaron
 Capstone Project
 August 22, 2025
 Part 0: August 22, 2025
 Part 1: August 22, 2025
 Part 2: September 5, 2025
 Part 3: 
 Part 4: 
 Part 5:
*/
@charset "utf-8";

/* 
+++
ALL PAGES
+++
*/
/* UNIVERSAL */
body {
  min-width: 400px;
  max-width: 1440px;
}

img {
  width: 100%;
}

ul {
  list-style: none;
}

#intro p {
  width: 80%;
  margin: auto;
}

/* Header and nav */
.header-nav ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* justify-items: center;
  align-items: center; */
  width: 80%;
  margin: 5vh auto 0 auto;
}

.header-nav ul li {
  width: 100%;
}

.header-nav ul li a {
  display: block;
  padding: 5%;
  margin: 5%;
}

/* Footer */

#footer-nav {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    "col1 col2 col3"
    "col1 col2 col4"
    "col5 col5 col5";
}

#footer-nav ul li a {
  display: block;
  padding: 1.5% 2%;
  width: fit-content;
}

#col1 {
  grid-area: col1;
}

#col2 {
  grid-area: col2;
}

#col3 {
  grid-area: col3;
}

#col4 {
  grid-area: col4;
}

#col5 {
  grid-area: col5;
  display: grid;
  grid-template-columns: repeat(6, auto);
  align-items: baseline;
  margin-top: 1%;
}

#col5 img {
  width: 35px;
  height: 35px;
}

/* Main */

/* 
+++
EMPTY
+++
*/

/* 
+++
PAGE 1: capstone.html [index.html]
+++     [required]
*/
/* Header */
.site-title {
  margin-top: 3%;
}

/* Main */
.background-image {
  width: 100%;
  opacity: 20%;
}

.page-title {
  margin: 3vh auto;
}

.testimonials {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  margin-top: 3%;
}

.testimonial {
  padding: 3%;
}

.testimonial p {
  margin-top: 2vh;
}

/* Product Card */
/* .card-image-container {
  height: 300px;
  width: 400px;
  overflow: hidden;
}

.card-image-container img {
  height: auto;
  width: 400px;
} */

.adventure-card img {
  float: left;
  max-width: 600px;
  max-height: 350px;
  object-fit: cover;
}

/* .adventures > * {
  margin: 2%;
} */

.adventures {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3vw;
  margin: 3vw;
}

.adventure-card {
  display: grid;
  grid-template-columns: 1fr;
  /* margin: 4%; */
}

.adventure-card > * {
  margin-top: 1%;
}

.adventure-details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "leftCol rightCol";
  margin-left: 5%;
}

.leftCol {
  grid-area: leftCol;
}

.rightCol {
  grid-area: rightCol;
}

.leftCol > *,
.rightCol > * {
  margin-top: 5%;
}

.icon {
  width: 3vh;
}

/* 
+++
PAGE 2: products.html
+++     [or services.html required]
*/
/* Header */

/* Main */
/* Product Catalog table */
#productCatalog {
  width: 98%;
  margin: 1%;
}

caption {
  margin-bottom: 1%;
  margin-left: 1%;
  padding: 1%;
  width: fit-content;
}

/* Product Catalog table head */
#pcInfo th:nth-child(1) {
  width: 30vw;
}

/* 
.adventure-card img {
  float: left;
  max-width: 600px;
  max-height: 350px;
  object-fit: cover;
}
*/

/* Product Catalog table body contents */
.productCell {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "pcName pcName"
    "pcImg pcImg"
    "pcPrice pcGroupSize"
    "pcAges pcActivities"
    "pcDuration pcSkillLevel";
    margin: 3% 1% 1% 1%;
}

.productCell p {
  margin: 1%;
}

.pcName {
  grid-area: pcName;
  margin-bottom: 1%;
}

.pcImg {
  grid-area: pcImg;
}

.pcPrice {
  grid-area: pcPrice;
}

.pcDuration {
  grid-area: pcDuration;
}

.pcAges {
  grid-area: pcAges;
}

.pcGroupSize {
  grid-area: pcGroupSize;
}

.pcActivities {
  grid-area: pcActivities;
}

.pcSkillLevel {
  grid-area: pcSkillLevel;
}

/* 
+++
PAGE 3: services.html
+++     [or products.html required]
*/
/* Header */

/* Main */

/* 
+++
PAGE 4: contact-us.html
+++     [required]
*/
/* Header */

/* Main */

/* 
+++
PAGE 5: subscribe.html
+++     [required]
*/
/* Header */

/* Main */

/* 
+++
MEDIA QUERIES
+++
*/

/* Wide & ultrawide desktop */
@media (min-width: 1200px) and (max-width: 2500px) {
  /* 
ALL PAGES
*/
  /* body {
    width: 95%;
    margin: auto;
  }

  nav ul {
    flex-direction: column;
  }

  nav ul li a {
    margin: 1% auto;
    width: fit-content;
  } */

  /* 
PAGE 1: .html
*/
  /* Main */

  /* 
PAGE 2: .html
*/
  /* Main */
}

/* Desktop */
@media (min-width: 1024px) and (max-width: 1200px) {
  /* 
ALL PAGES
*/
  /* body {
    width: 90%;
    margin: auto;
  }

  nav ul {
    justify-content: space-between;
  }

  nav ul li a {
    margin: auto;
  } */

  /* 
PAGE 1: .html
*/
  /* Main */

  /* 
PAGE 2: .html
*/
  /* Main */
}

/* Tablets */
@media (min-width: 768px) and (max-width: 1024px) {
  /* 
ALL PAGES
*/
  /* body {
    width: 90%;
    margin: auto;
  }

  nav ul {
    justify-content: space-between;
  }

  nav ul li a {
    margin: auto;
  } */

  /* 
PAGE 1: .html
*/
  /* Main */

  /* 
PAGE 2: .html
*/
  /* Main */
}

/* Mobile */
@media (min-width: 400px) and (max-width: 768px) {
  /* 
ALL PAGES
*/
  /* body {
    width: 90%;
    margin: auto;
  }

  nav ul {
    justify-content: space-between;
  }

  nav ul li a {
    margin: auto;
  } */

  /* 
PAGE 1: .html
*/
  /* Main */

  /* 
PAGE 2: .html
*/
  /* Main */
}
