/* 
 Aaron
 Lab 10
 August 12, 2025
*/
@charset "utf-8";

/* Overall page layout/structure */
#page-structure {
  display: flex;
  width: 95%;
  margin: auto;
  gap: 10vw;
}

#page-structure:nth-child(1) {
  padding-right: 10vw;
}

/* Order for fun, to put the sidebar on the left instead of the right */
#index-article {
  order: 2;
}

/* Not sure why this won't work for the aside*/
/* #page-structure:nth-child(2) {
    width: 20vw;
} */

#sidebar {
  width: 25vw;
  padding-top: 1%;
}

#sidebar h4 {
  padding-top: 5%;
}

#sidebar h3 {
  padding: 5%;
}

#sidebar p {
  margin: 0 3%;
  padding-bottom: 5%;
}

/* Header and nav */
#title {
  padding: 5%;
  margin: 1vw;
}

#header-nav ul {
  display: flex;
  justify-content: space-around;
  gap: 10%;
  padding-bottom: 2%;
  flex-wrap: wrap;
}

#header-nav a {
  display: block;
  padding: 2rem 5rem;
}

#heading-title {
  padding: 5%;
}

/* Images */
img {
  width: 100%;
}

.image-container {
  width: auto;
}

/* Featured Art containers */
.index-container {
  display: flex;
  flex-direction: column;
  gap: 15vh;
  width: fit-content;
  margin: auto;
}

.featured-art {
  width: 50vw;
}

.featured-art h3,
p {
  padding: 1%;
}

/* Misc */
/* Taken from https://www.w3schools.com/tags/tag_hr.asp */
hr {
  height: 2px;
  border-width: 0;
  color: gray;
  background-color: gray;
}
