/* 
 Aaron
 Lab 10
 August 12, 2025
*/
@charset "utf-8";

/* 
+++
ALL PAGES
+++
*/

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #e6e6fa;
}

#title {
  font-size: 13vh;
  text-align: center;
  background-color: #2233cc;
  color: white;
  border: 1rem solid #e6e6fa;
  font-weight: 900;
}

#header-nav {
  background-color: inherit;
}

#header-nav a {
  border-radius: 50%;
  font-size: 4vh;
  background-color: darkblue;
  color: white;
  font-weight: bold;
}

#header-nav a:hover {
  background-color: #058ed9;
}

#page-structure {
  background-color: white;
}

/* Aside / sidebar */
#sidebar {
  background-color: #2233cc;
  color: white;
}

#sidebar h3 {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}

#sidebar p {
  text-indent: 1em;
}

#sidebar h4 {
  font-size: 1.2rem;
  text-align: center;
  font-weight: normal;
}

#sidebar p:nth-of-type(2) {
}

#sidebar p a:nth-of-type(1) {
  color: white;
  font-weight: bold;
  text-decoration: none;
}

#sidebar p a:hover {
  color: lightgrey;
}

footer a {
  color: inherit;
}

footer a:hover {
  color: darkblue;
}

/* 
+++
INDEX.HTML
+++
*/

/* Header */
#heading-title {
  font-size: 10vh;
  text-align: center;
  font-weight: 900;
  text-decoration: underline;
}

.art-title {
  font-style: italic;
  font-size: 4vh;
  background-color: white;
}

.featured-art p {
  font-size: 3.5vh;
  background-color: white;
}

p {
  line-height: 1.5;
}

/* .index-container {
} */

.featured-art {
  border: 1rem ridge #7b3f00;
}

.image-container {
  background-color: white;
}

/* 
+++
ARTISTS.HTML
+++
*/

/* 
+++
GALLERY.HTML
+++
*/
