/* 
 Aaron
 Lab 13
 August 19, 2025
*/
@charset "utf-8";

/* 
+++
ALL PAGES
+++
*/

/* Universal */
body {
  min-width: 400px;
  max-width: 2500px;
}

img {
  width: 100%;
}

/* Header and nav */
h1 {
  width: auto;
  margin: 3% auto;
  padding: 3%;
}

nav ul {
  display: flex;
  justify-content: space-around;
}

nav ul li a {
  display: block;
  margin: 4vh;
  padding: 4vh;
}

/* Footer */
footer {
  margin-top: 3%;
  margin-bottom: 1%;
}

#backToTop {
  display: block;
}

/* 
+++
PAGE 1: music-festival.html
+++
*/

/* Main */
.pageTitle {
  margin-top: 3%;
  margin-bottom: 3%;
}

#featured h3 {
  padding-bottom: 3%;
}

/* .container {
    display: flex;
    flex-direction: column;
} */

#featured {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
    "artist1-name artist2-name artist3-name artist4-name"
    "artist1-img artist2-img artist3-img artist4-img";
  align-items: center;
  gap: 1%;
}

#artist1-name {
  grid-area: artist1-name;
}

#artist2-name {
  grid-area: artist2-name;
}

#artist3-name {
  grid-area: artist3-name;
}

#artist4-name {
  grid-area: artist4-name;
}

#artist1-img {
  grid-area: artist1-img;
}

#artist2-img {
  grid-area: artist2-img;
}

#artist3-img {
  grid-area: artist3-img;
}

#artist4-img {
  grid-area: artist4-img;
}

/* 
+++
PAGE 2: about.html
+++
*/

/* Main */
#aboutMain {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-areas: "leftColumn rightColumn";
}

.leftColumn p {
  padding-right: 4%;
  padding-bottom: 5%;
}

/* 
+++
PAGE 3: info.html
+++
*/

/* 
+++
MEDIA QUERIES
+++
*/

/* 'Smaller' screens */
@media (max-width: 480px) {
  /* 
ALL PAGES
*/
  body {
    width: 95%;
    margin: auto;
  }

  nav ul {
    flex-direction: column;
  }

  nav ul li a {
    margin: 1% auto;
    width: fit-content;
  }

  /* 
PAGE 1: music-festival.html
*/
  /* Main */
  #featured {
    grid-template-columns: 1fr;
    grid-template-areas:
      "artist1-name"
      "artist1-img"
      "artist2-name"
      "artist2-img"
      "artist3-name"
      "artist3-img"
      "artist4-name"
      "artist4-img"
      "footer";
    gap: 0;
  }

  .pageTitle {
    margin-bottom: 5%;
  }

  #featured h3 {
    margin-top: 3%;
  }

  /* 
PAGE 2: about.html
*/
  /* Main */
  .rightColumn {
    order: 1;
  }

  .leftColumn {
    order: 2;
    margin-top: 3%;
    margin-bottom: -5%;
  }

  #aboutMain {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
      "rightColumn"
      "leftColumn";
  }

  /* 
PAGE 3: info.html
*/
  /* Main */
  .rightColumn {
    order: 1;
  }

  .leftColumn {
    order: 2;
    margin-top: 3%;
    margin-bottom: -5%;
  }

  #aboutMain {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
      "rightColumn"
      "leftColumn";
  }
}

/* 'Small' screens */
@media (min-width: 480px) and (max-width: 768px) {
  body {
    width: 95%;
    margin: auto;
  }

  nav ul {
    flex-direction: column;
  }

  nav ul li a {
    margin: 1% auto;
    width: fit-content;
  }

  /* 
PAGE 1: music-festival.html
*/
  /* Main */
  #featured {
    grid-template-columns: 1fr;
    grid-template-areas:
      "artist1-name"
      "artist1-img"
      "artist2-name"
      "artist2-img"
      "artist3-name"
      "artist3-img"
      "artist4-name"
      "artist4-img"
      "footer";
    gap: 0;
  }

  .pageTitle {
    margin-bottom: 5%;
  }

  #featured h3 {
    margin-top: 3%;
  }

  /* 
PAGE 2: about.html
*/
  /* Main */
  .rightColumn {
    order: 1;
  }

  .leftColumn {
    order: 2;
    margin-top: 3%;
    margin-bottom: -5%;
  }

  #aboutMain {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
      "rightColumn"
      "leftColumn";
  }

  /* 
PAGE 3: info.html
*/
  /* Main */
  .rightColumn {
    order: 1;
  }

  .leftColumn {
    order: 2;
    margin-top: 3%;
    margin-bottom: -5%;
  }

  #aboutMain {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
      "rightColumn"
      "leftColumn";
  }
}

/* 'Large' screens */
@media (min-width: 768px) and (max-width: 1200px) {
  /* 
ALL PAGES
*/
  body {
    width: 90%;
    margin: auto;
  }

  nav ul {
    justify-content: space-between;
  }

  nav ul li a {
    margin: auto;
  }

  /* 
PAGE 2: about.html
*/
  /* Main */
  .rightColumn {
    order: 1;
  }

  .leftColumn {
    order: 2;
    margin-top: 3%;
    margin-bottom: -5%;
  }

  #aboutMain {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
      "rightColumn"
      "leftColumn";
  }
}

/* 'Larger' screens */
@media (min-width: 1200px) and (max-width: 2500px) {
  body {
    width: 90%;
    margin: auto;
  }
}
